.popup__close-icon {
  position: absolute;
  top: -37px;
  right: -41px;
  min-width: 32px;
  min-height: 32px;
  background-image: url(../../../images/close_icon.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}



@media screen and (max-width: 610px) {
  .popup__close-icon {
    right: 0px;
    min-width: 20px;
    min-height: 20px;
  }
}

@media screen and (max-width: 320px) {

}

.popup__close-icon:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}
