.popup__caption{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  max-width: 291px;
 }

  @media screen and (max-width: 610px) {
    .popup__caption {

    }
  }

  @media screen and (max-width: 320px) {
    .popup__caption {

    }
  }

